# This is Git's per-user configuration file.
# [user]
# Please adapt and uncomment the following lines:
#   name    = First Last
#   email   = email@email.email
[core]
    editor  = /usr/local/bin/vim

[alias]
    #add
    a       = add
    aa      = add .
    ap      = add -p
    au      = add -u    # stage modified and deleted files in entire tree

    #aliases
    la      = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t = \\2/'    #list all git alises

    #blame
    bl      = blame

    #branch
    b       = branch
    ba      = branch -a
    bc      = branch -vv --list --contains @
    bd      = branch -d
    bdd     = branch -D
    bm      = branch -vv --list --merged @
    bdm     = "!git branch --merged | egrep -v '[*]|trunk|dev|develop|integration|staging|production|master|feature' | xargs -n 1 git branch -d"
    bunup   = branch --unset-upstream

    #checkout
    ca      = checkout -- .
    co      = checkout
    cb      = checkout -b
    cop     = checkout -p

    #clean
    cln     = clean -nd
    clf     = clean -fd
    cli     = clean -i
    iclean  = clean -i

    #config
    cf      = config
    cfe     = config user.email
    cfl     = config --list
    cfu     = config user.name
    cfn     = config user.name

    #diff
    df      = diff
    dfc     = diff --cached
    dc      = diff --word-diff=color --cached

    #cherry-pick
    cp      = cherry-pick -x -s
    cpa     = cherry-pick --abort
    cpc     = cherry-pick --continue

    #clone
    cl      = clone

    #commit
    c       = commit
    cm      = commit -m
    amend   = commit --amend
    am      = commit --amend
    cra     = commit --amend --reset-author

    #fetch
    f       = fetch
    fo      = fetch origin
    fa      = fetch --all
    fop     = fetch origin --prune

    #log
    l       = log --graph --abbrev-commit --decorate --all --format=format:'%C(bold dim magenta)%h %C(reset)%C(bold blue)%aD %C(reset)%C(green)(%ar)%C(reset)%C(bold red)%d %n''%C(reset)%C(white)%s %C(reset)%C(dim yellow)<%aN>%C(reset)'
    lg      = log --graph --abbrev-commit --decorate --all --format=format:'%C(bold dim magenta)%h %C(reset)%C(bold blue)%aD %C(reset)%C(green)(%ar)%C(reset)%C(bold red)%d %n''%C(reset)%C(white)%s %C(reset)%C(dim yellow)<%aN>%C(reset)' --grep
    lp      = log -p
    ws      = log --oneline --check


    #merge
    mff     = merge --ff-only
    mnoff   = merge --no-ff

    #push
    pf      = push --force
    sup     = push --set-upstream

    #reset
    rh      = reset HEAD
    rs      = reset --soft
    rsh     = reset --soft HEAD^

    #rebase
    rb      = rebase
    rba     = rebase --abort
    rbc     = rebase --continue
    rbi     = rebase --interactive
    rbs     = rebase --skip
    onto    = rebase --onto

    #remote
    rso     = remote show origin
    prune   = remote prune origin
    ra      = remote add
    rao     = remote add origin
    rp      = remote prune
    rpo     = remote prune origin

    #reset
    setto   = reset --hard

    #revert
    rv      = revert
    rvh     = revert HEAD

    #show
    s       = show
    sh      = show HEAD
    sh1     = show HEAD^
    sh2     = show HEAD^^

    #stash
    st      = stash
    sa      = stash apply
    sd      = stash drop
    sd0     = stash drop stash@{0}
    sd1     = stash drop stash@{1}
    sd2     = stash drop stash@{2}
    sl      = stash list
    sp      = stash save --patch
    spop    = stash pop
    ss      = stash show -p
    ss0     = stash show -p stash@{0}
    ss1     = stash show -p stash@{1}
    ss2     = stash show -p stash@{2}

    #submodule
    subi    = submodule update --init --recursive
    subu    = submodule update
    subs    = submodule sync

    #tag
    ta      = tag -a
    tl      = tag --list -n99
    tlr     = tag --list release* -n99
    tlst    = tag --list stable* -n99
    td      = tag --delete

[push]
    default = simple
